<!doctype html>
<html class="no-js" lang="zxx">

  <%- include('component/head') -%>
<body> 
  <%- include('component/header') -%>
  
  <div class="bradcam_area bradcam_bg_1">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text">
                        <h3>About Us</h3>
                    </div>
                </div>
            </div>
        </div>
  </div>

  <section class="about-section section_padding">
    <div class="container">
      <div class="row">
    
        <div class="col-lg-8">
         <img src="./img/about/4.png">
        
        </div>
        <div class="col-lg-4">
          <br><br><br>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-home"></i></span>
            <div class="media-body">
              <h3>Buttonwood, California.</h3>
              <p>Rosemead, CA 91770</p>
            </div>
          </div>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
            <div class="media-body">
              <h3>00 (440) 9865 562</h3>
              <p>Mon to Fri 9am to 6pm</p>
            </div>
          </div>
          <div class="media contact-info">
            <span class="contact-info__icon"><i class="ti-email"></i></span>
            <div class="media-body">
              <h3>support@colorlib.com</h3>
              <p>Send us your query anytime!</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
 
  <%- include('component/footer') -%>
  <%- include('component/include_files') -%>
</body>

</html>