<!DOCTYPE html>
<html lang="en">
  <%- include('component/head') -%>

<body>
  <div class="container mt-5">
    <div class="alert alert-danger" role="alert">
      <h1>Oops! An error occurred.</h1>
      <p>We encountered a problem while processing your request. Here's what we know:</p>
      <p>
        We apologize for the inconvenience. Please try again later or contact us for further assistance.
      </p>
    </div>
  </div>
</body>
<%- include('component/footer') -%>
<%- include('component/include_files') -%>
</html>
