<div class="apply_job_form white-bg">
    <h4>Apply for the job</h4>
    <form  action="/apply/" method="POST"  >
   
        <div class="row">
            <div class="col-md-6">
                <div class="input_field">
                    <input type="text" placeholder="Your name" name="name">
                </div>
            </div>
            <div class="col-md-6">
                <div class="input_field">
                    <input type="text" placeholder="Email" name="email">
                </div>
            </div>
            <div class="col-md-12">
                <div class="input_field">
                    <input type="text" placeholder="Website/Portfolio link" name="Portfolio">
                </div>
            </div>
            <div class="col-md-12">
                <div class="input-group">
                    <div class="input-group-prepend">
                      <button type="button" id="inputGroupFileAddon03"><i class="fa fa-cloud-upload" aria-hidden="true"></i>
                      </button>
                    </div>
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" id="inputGroupFile03" aria-describedby="inputGroupFileAddon03" name="uploadcv">
                      <label class="custom-file-label" for="inputGroupFile03">Upload CV</label>
                    </div>
                  </div>
            </div>

            <div class="col-md-12">
                <div class="submit_btn">
                    <button class="boxed-btn3 w-100" type="submit">Apply Now</button>
                </div>
            </div>
        </div>
    </form>
</div>
