 <!-- header-start -->
<header>
<div class="header-area ">
    <div id="sticky-header" class="main-header-area">
        <div class="container-fluid ">
          <div class="header_bottom_border">
            <div class="row align-items-center">
            <!-- logo -->
            <div class="col-xl-3 col-lg-2">
                <div class="logo">
                    <a href="/"> <img src="/img/logo.png" alt="No Image"></a>
                </div>
            </div>
            <!-- navbar list -->
            <div class="col-xl-6 col-lg-7">
                <div class="main-menu  d-none d-lg-block">
                    <nav>
                        <ul id="navigation">
                        <li><a href="/">Home</a></li>
                        <li><a href="/jobs">Browse Job</a></li>
                        <li><a href="/contact">Contact</a></li>
                        <li><a href="/about">About</a></li>
                        <li><a href="/logout">Logout</a></li>
                    

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" >Admin</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown" style="font-weight: bold; color: #795003; text-shadow: 2px 2px 2px rgba(26, 25, 25, 0.3); font-family: sans-serif;">
                                <a class="dropdown-item"  href="/admin_dashboard">dashboard</a></a>
                                <a class="dropdown-item"  href="/post_job">Post job</a></a>
                                <a class="dropdown-item"  href="/profile">My profile</a>   
                                <a class="dropdown-item"  href="/editProfile">Edit profile</a> 
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                user
                            </a>
                            <div class="dropdown-menu" style="font-weight: bold; color: #dfe7f0; text-shadow: 2px 2px 2px rgba(26, 25, 25, 0.3); font-family: sans-serif;" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item"  href="/profile">My profile</a>   
                                <a class="dropdown-item"  href="/editProfile">Edit profile</a> 
                                <a class="dropdown-item"  href="/userApplications">MY Applications</a> 

                            </div>
                        </li>

                        </ul>
                    </nav>
                </div>
            </div>
            <!-- navbar buttons -->
            <div class="col-xl-3 col-lg-3 d-none d-lg-block">
            <div class="Appointment">
            <div class="d-none d-lg-block">
            <a class="boxed-btn3" href="/login">Log in</a>
            </div>
            
            </div>
            </div>

            <div class="col-12">
            <div class="mobile_menu d-block d-lg-none"></div>
            </div>
            
            </div>
          </div>

        </div>
    </div>
</div>
</header>
<!-- header-end -->